.btn-eliminar {
	text-decoration: underline;
	cursor: pointer;
	color: red;
}

.contenedor {    
	padding-left: 10%;
    padding-right: 10%;
}

tr {
	text-align: -webkit-center;
}

h1 {
	text-align-last: center;
	margin: 3%;
}

.btn-button {
	text-align: end;
    margin-right: 10%;
    margin-bottom: 2%;
}

.btn-editar {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}